{% style %}
    .content-two-bg {
        background: url({{ 'content-3-image.jpeg' | asset_img_url: '3000x3000' }});
        background-size: 100%;
        background-position: 50% 50%;
    }

    @media (min-width: 1024px) {
        .content-two-bg {
            background-size: 100%;
            background-position: 50% 23%;
        }
    }
{% endstyle %}

<section class="tw-w-full tw-bg-white">
    <div class="tw-py-[64px] tw-px-[25px] tw-flex tw-flex-col lg:tw-flex-row tw-gap-[40px] lg:tw-gap-[52px] lg:tw-p-[104px] tw-max-w-[1280px] tw-mx-auto">
        <div class="content-two-bg tw-h-[440px] lg:tw-h-auto lg:tw-w-[45%] tw-w-full tw-rounded-2xl"></div>
        <div class="tw-flex tw-flex-col tw-gap-[24px] lg:tw-w-[55%]">
            <div class="tw-text-[28px] tw-font-semibold tw-leading-9 lg:tw-text-[32px] lg:tw-leading-10">
                A deeper commitment
            </div>
            <div class="tw-text-[18px] tw-leading-6 lg:tw-text-[28px] lg:tw-leading-10">
                Every MILK™ babygrow tells the story of childhood fashion, but with sketches in the place of words.
                Inspired by afternoon walks through autumn and spring, each flower bud is a tickle of nature in the form
                of a sweet silhouette. The soft textures swaddle more than baby&apos;s skin, but envelope families in
                the
                patterns of fairytale fashions. Designed with heart, inspired in Denmark.
            </div>
        </div>
    </div>
</section>
